html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Work Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h3 {
  font-size: 20px;
}

body {
  background: rgb(3, 0, 37);
  /* background: -moz-linear-gradient(90deg, rgba(3, 0, 37, 1) 0%, rgba(7, 0, 83, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(3, 0, 37, 1) 0%, rgba(7, 0, 83, 1) 100%);
  background: linear-gradient(90deg, rgba(3, 0, 37, 1) 0%, rgba(7, 0, 83, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030025", endColorstr="#070053", GradientType=1); */
  position: relative;
}

button {
  width: 100%;
  max-width: 300px;
  padding: 16px 60px;
  background-color: #ff6400;
  filter: drop-shadow(0 0 15px rgba(255, 122, 36, 0.5));
  border: none;
  border-radius: 8px;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  font-family: Work Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: 0.25s all ease;
}

button:hover {
  transform: scale(1.02);
}

.btn-purple {
  background-color: #5D24FF;
  filter: drop-shadow(0 0 15px rgba(93, 36, 255, 0.5));
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s ease all;
}

a:hover {
  border-bottom: 1px solid white;
}

* {
  color: white;
  box-sizing: border-box;
}